<ion-content [fullscreen]="true">
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <div class="flex-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="success">Login</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email" ></ion-input>
            <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.invalid">Email is required</ion-note>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
            <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.invalid">Password is required</ion-note>
          </ion-item>
          <ion-button expand="block" color="danger">Forgot Password</ion-button>
          <ion-button expand="block" color="success" type="submit" [disabled]="credentials.invalid">Login</ion-button>
          <ion-button expand="block" color="primary" (click)="redirectToRegister()">Register </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </form>
</ion-content>
