<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="credentials" (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-radio-group formControlName="gender">
        <ion-item>
          <ion-label>Male</ion-label>
          <ion-radio slot="start" value="male"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio slot="start" value="female"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>
    <ion-item>
      <ion-label>Role</ion-label>
      <ion-select formControlName="role" placeholder="Select One">
        <ion-select-option value="audience">Audience</ion-select-option>
        <ion-select-option value="presenter">Presenter</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="credentials.invalid">Register</ion-button>
    <ion-button expand="block" color="primary" (click)="navigateToLogin()">Login</ion-button>
    <ion-note slot="error" *ngIf="(confirmPassword?.dirty || confirmPassword?.touched) && confirmPassword?.invalid">Confirm password is required</ion-note>
  </form>
</ion-content>
