<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">

    </ion-buttons>
    <ion-title>Presenter Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Welcome to your dashboard!
      </ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
          <ion-label>Create a new Presentation room:</ion-label>
        <ion-col>
            <ion-button>
            <ion-img
              src="assets/icon/settings.png"
              alt="settings"
            ></ion-img>
          </ion-button>

          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
      </ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-label>Check the stats:</ion-label>
        <ion-col>
            <ion-button (click)="redirectToResults()">
            <ion-img
              src="assets/icon/stats.png"
              alt="stats"
            ></ion-img>
          </ion-button>

          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
