<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">

    </ion-buttons>
    <ion-title>Presenter Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Welcome to your dashboard!
      </ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <form [formGroup]="roomForm" (ngSubmit)="createRoom()">
            <ion-item>
              <ion-label position="floating">Room Name</ion-label>
              <ion-input type="text" formControlName="roomName"></ion-input>
            </ion-item>
            <ion-button expand="block" type="submit" [disabled]="roomForm.invalid">Create Room</ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Check the stats:
      </ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="redirectToResults()">
            <ion-img src="assets/icon/stats.png" alt="stats"></ion-img>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
